<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Furniture Website</title>
    <!--Link To Css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Box Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!--Navbar-->
    <header>
        <a href="#" class="logo">Furniture<span>Hub</span></a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#shop">Categories</a></li>
            <li><a href="#new">Best selling</a></li>
            <li><a href="#">AboutUs</a></li>
            <li><a href="#">Register </a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </header>
   @RenderBody()

   
    <!-- Footer -->
    <section class="footer" id="footer">
        <div class="footer-box">
            <h2>Off <span>Market</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt amet minus mollitia impedit qui asperiores!</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Services</h3>
            <li><a href="#">Product</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQ</a></li>
        </div>
        <div class="footer-box">
            <h3>Product</h3>
            <li><a href="#">Sofa's</a></li>
            <li><a href="#">Chair's</a></li>
            <li><a href="#">Living Room</a></li>
            <li><a href="#">Office</a></li>
        </div>
        <div class="footer-box contact-info">
            <h3>Contact</h3>
            <span>Denver, Colorado, USA 10001</span>
            <span>+1 100 1004 0002</span>
            <span>brian@OffMarket.com</span>
        </div>
    </section>
    <div class="copyright">
        <p>&#169; Mohamed Zaadik All Right Reserved.</p>
    </div>

    <!-- Link To JS -->
    <script src="~/main.js"></script>

</body>
</html>
